.control-container {
  color: white;
  margin: 0px 15px;
}

nav {
  text-align: center;

  a {
    font-size: 22px;
    color: '#4d4d4e';
    line-height: 51px;
    text-decoration: none;
    margin: 20px;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: #ffd700;
      svg {
        color: #ffd700;
      }
    }
  }

  a.active {
    svg {
      color: #ffd700;
    }
  }
}
